<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.mapper.OutboundOrderDetailsMapper">
  <resultMap id="BaseResultMap" type="com.lemon.domain.OutboundOrderDetails">
    <!--@mbg.generated-->
    <!--@Table outbound_order_details-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="out_count" jdbcType="INTEGER" property="outCount" />
    <result column="target_warehouse_id" jdbcType="INTEGER" property="targetWarehouseId" />
    <result column="target_warehouse_area_id" jdbcType="INTEGER" property="targetWarehouseAreaId" />
    <result column="target_warehouse_area_loca_id" jdbcType="INTEGER" property="targetWarehouseAreaLocaId" />
    <result column="outbound_order_id" jdbcType="BIGINT" property="outboundOrderId" />
    <result column="pick_status" jdbcType="INTEGER" property="pickStatus" />
    <result column="pick_emp_id" jdbcType="INTEGER" property="pickEmpId" />
    <result column="pick_time" jdbcType="TIMESTAMP" property="pickTime" />
    <result column="saas_id" jdbcType="VARCHAR" property="saasId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, sku_id, out_count, target_warehouse_id, target_warehouse_area_id, target_warehouse_area_loca_id, 
    outbound_order_id, pick_status, pick_emp_id, pick_time, saas_id, create_time, create_by, 
    update_time, update_by, is_del
  </sql>
</mapper>