<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.mapper.OutboundOrderWeightsMapper">
  <resultMap id="BaseResultMap" type="com.lemon.domain.OutboundOrderWeights">
    <!--@mbg.generated-->
    <!--@Table outbound_order_weights-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="weights_code" jdbcType="VARCHAR" property="weightsCode" />
    <result column="outbound_order_detail_id" jdbcType="BIGINT" property="outboundOrderDetailId" />
    <result column="weights_emp_id" jdbcType="INTEGER" property="weightsEmpId" />
    <result column="weights_time" jdbcType="TIMESTAMP" property="weightsTime" />
    <result column="weight_val" jdbcType="INTEGER" property="weightVal" />
    <result column="weights_unit" jdbcType="INTEGER" property="weightsUnit" />
    <result column="saas_id" jdbcType="VARCHAR" property="saasId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, weights_code, outbound_order_detail_id, weights_emp_id, weights_time, weight_val, 
    weights_unit, saas_id, create_time, create_by, update_time, update_by, is_del
  </sql>

  <select id="getPageAll" resultType="com.lemon.domain.vo.OutboundOrderWeightsVo">
    SELECT
    -- 称重单表字段
    wow.id AS id,
    wow.weights_code AS weightsCode,
    wow.weights_status AS weightsStatus,
    wow.weights_time AS weightsTime,
    wow.create_by AS createBy,
    wow.create_time AS createTime,
    wow.weights_emp_id AS weightsEmpId,
    wow.weight_val AS weightVal,

    -- 明细单数据
    ood.weight AS weight,
    ood.volume AS volume,
    ood.pick_emp_id AS pickEmpId,
    ood.max_count AS maxCount,

    -- sku表字段
    s.id AS skuId,
    s.title AS title,
    s.spu_id AS spuId,
    s.code AS code,

    -- 出库单表字段
    oo.customer_name AS customerName,
    oo.invoice_code AS invoiceCode,
    oo.id AS outboundOrderId,

    -- 打包单表字段
    oop.package_emp_id AS packageEmpId,
    oop.package_code AS packageCode

    FROM outbound_order_weights wow
    LEFT JOIN outbound_order_details ood ON wow.outbound_order_detail_id = ood.id
    LEFT JOIN sku s ON ood.sku_id = s.id
    LEFT JOIN outbound_order oo ON ood.outbound_order_id = oo.id
    LEFT JOIN outbound_order_package oop ON ood.id = oop.outbound_order_detail_id
    WHERE 1=1
    <if test="title != null and title != ''">
      AND s.title LIKE CONCAT('%', #{title}, '%')
    </if>
    <if test="weightsStatus != null">
      AND wow.weights_status = #{weightsStatus}
    </if>
    <if test="invoiceCode != null and invoiceCode != ''">
      AND oo.invoice_code LIKE CONCAT('%', #{invoiceCode}, '%')
    </if>
    <if test="weightsCode != null and weightsCode != ''">
      AND wow.weights_code LIKE CONCAT('%', #{weightsCode}, '%')
    </if>
    ORDER BY wow.create_time DESC
    </select>
</mapper>